#SendNewPostSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10PX;
}

#NewPostField {
  height: 50px;
  width: 70%;
}

#SendNewPost {
  height: 50px;
}
